@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');

body{
  background-color: #2F2FA2;
  color: whitesmoke;
  font-family: 'Voces', cursive;
}

.App {
  text-align: center;
}


